@page "/"

<PageTitle>TIENDA DE ROPA</PageTitle>

<h1>Bienvenido a la tienda</h1>

<div class="single-image-container">
    <img src="imagenes/LogoTienda.png"  <!-- Ruta corregida -->
         alt="Logo de la tienda"      <!-- Texto alternativo añadido -->
         class="main-image" />
</div>